@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: #081b29; */
    color: white;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navlist a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    color: white;
}
.navlist a:hover{
    color: black;
    border-bottom: 1px solid  white;
}
.navlist a{
    transition: all 0.5s ease;
    padding: 10px;
    border-radius: 5px;
}
.home{
    height: 100vh;
    display: flex;
    background: url('/img/bit2.webp') no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-bottom: 150px;
    padding: 10%;
}
.home .static-txt {
    font-size: 50px;
    font-weight: 400;
}
.home .dynamic-txt{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamic-txt li{
    list-style: none;
    color: green;
    font-size: 60px;
    font-weight: 50px;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;

}
@keyframes slide {
    100% {
       top: -360px; 
    }
}

.dynamic-txt li {
    position: relative;
}
.dynamic-txt li ::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #081b29;
    border-left: 2px solid green;
    animation: typing 3s steps(16) infinite;

}

@keyframes typing{
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
.btn-box {
    display: flex;
    justify-content: space-between;
    /* background: yellowgreen;  */
    width: 250px;
    height: 50px;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    align-items: center;
    gap: 20px;
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 40px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:hover{
    transition: 1s;
    /* color: #00abf0; */
    color: transparent;
}
.home-logo-coin {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    
}
.home-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23rem;
    gap: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    
}
.home-logo img{
    height: 40px;
    width: 40px;
}
.footer-container{
    width: 100%;
    background-color: #081b29;

}
.footer-title{
    color: red;
}

